.container{
width: 100%;
}
.bg-custom{
    background-color:#e8d1c6cc;
}

.logo{
    margin-left: 90px;
}

.nav-link:hover{
text-decoration: underline;

}


.nav-link{
    font-size: 1.5rem;

}

.boton{
    display: flex;
    justify-content:flex-start;

 
}

.nav-item{
    margin: auto;
   
    


}



