.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  #map {
    height: 250px;
    width: 100%;
    margin-top: 20px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    margin: 0 10px;
    font-size: 24px;
  }
  