<!-- Header -->

<main>
    <div class="container py-3">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Te damos la bienvenida a tu perfil</h1>
        <p class="col-md-8 fs-4">Aquí puedes visualizar y actualizar tus preferencias y verificar lo que deseas hacer con tus productos para que siempre veas lo que quieres ver</p>
        </div>
        </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
        <div class="h-100 p-5 text-bg-secondary rounded-3">
            <h2>Tu imagen de perfil</h2>
            <br>
            <div>
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/0c/bb/a3/97/predator-ride-in-the.jpg" alt="" height="300" class="rounded-5">
            </div>
            <br>
            <button class="btn btn-outline-light" type="button">Editar imagen</button>
        </div>
        </div>
        <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Información del perfil</h2>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombres</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tu Nombre Aquí">
                <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tu Apellido Aquí">
                <label for="exampleFormControlInput1" class="form-label">Dirección Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                <label for="exampleFormControlInput1" class="form-label">Nombre De Usuario</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="User">
                <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="*************">
                <label for="exampleFormControlInput1" class="form-label">Dirección</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="cll 1 # 2-3">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Preferencias</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
            <button class="btn btn-outline-secondary" type="button">Editar</button>
        </div>
        </div>
    </div>
    </div>
</main>

<!-- Footer -->