<app-header></app-header>

<div class="heading">
  <h1>About Us</h1>
  <p>
    BeauteBoutique is a global online fashion and lifestyle retailer committed
    to making beauty committed to making fashion beauty accessible to everyone.
    to everyone. We use on-demand manufacturing technology to connect suppliers
    to our agile supply chain, reducing waste and reducing inventory waste and
    allowing us to deliver a variety of affordable products to us to deliver a
    variety of affordable products to customers around the world.
  </p>

  <div class="container">
    <section class="about">
      <div class="about-image">
        <img src="../../../assets/images/modelo1.jpg" alt="modelo1" />
      </div>

      <div class="about-content">
        <h2>mission</h2>
        <p>
          BeauteBoutique's mission is to serve as an industry leader and bring
          fashion into the modern era. and bring fashion into the modern era. We
          employ cutting-edge technologies and processes and processes in our
          design and sourcing to stay well informed of what consumers demand,
          produce informed of what consumers demand, produce goods in a timely
          manner, and deliver products produce goods in a timely manner, and
          deliver products quickly to any the world.
        </p>
      </div>
    </section>
  </div>
  <div class="container">
    <section class="about">
      <div class="about-image">
        <img src="../../../assets/images/modelo2.jpg" alt="modelo2" />
      </div>

      <div class="about-content">
        <h2>
          vision</h2>
        <p>
          Consumers no longer follow a unified standard of what is
          considered "fashionable" or "beautiful". We believe that the clothes we wear
          reflects our personality and we want to empower everyone to
          They explore and express their individuality. To do so, BeauteBoutique
          create a wide variety of options to fit any state
          mood or occasion
        </p>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>
