
<div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Acerca de nosotros</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p>BeauteBoutique es un minorista online global de moda y estilo de vida comprometido con hacer que la belleza de la moda sea accesible a todo el mundo. Utilizamos tecnología de fabricación bajo demanda, para conectar a los proveedores con nuestra ágil cadena de suministro, reduciendo el desperdicio de inventario y permitiéndonos entregar una variedad de productos asequibles a clientes de todo el mundo. Desde nuestras oficinas globales, llegamos a clientes en más de 150 países. Para obtener más información sobre BeauteBoutique, visita es.BeauteBoutique.com.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 same-height">
        <div class="card">
          <div class="card-body">
            <h2>Misión</h2>
            <img src="../../../assets/images/modelo1.jpg" alt="Imagen de Misión" class="img-fluid">
            <p>La misión de BeauteBoutique es servir como líder en la industria y llevar la moda a la era moderna. Empleamos tecnologías y procesos de vanguardia en nuestro diseño y abastecimiento para mantenernos bien informados de lo que los consumidores demandan, producir bienes de manera oportuna y entregar los productos rápidamente a cualquier parte del mundo. Al desarrollar tecnología de logística y comercio electrónico patentada, estamos irrumpiendo en el espacio de la moda y mejorando los resultados para fabricantes, proveedores y consumidores.</p>
          </div>
        </div>
      </div>
      <div class="col-6 same-height">
        <div class="card">
          <div class="card-body">
            <h2>Visión</h2>
            <img src="../../../assets/images/modelo2.jpg" alt="Imagen de Visión" class="img-fluid">
            <p>Los consumidores ya no siguen un estándar unificado de lo que se considera "a la moda" o "hermoso". Creemos que la ropa que usamos refleja nuestra personalidad y queremos empoderar a todos para que exploren y expresen su individualidad. Para hacerlo, BeauteBoutique crea una amplia variedad de opciones para adaptarse a cualquier estado de ánimo u ocasión.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  