.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 58px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    

  }
  
  .card {
    border: 2px solid;
    border-radius: 10px;
    color: #f27ccc;

  }
  
  .card-body {
    padding: 40px;
  }
  
  p {
    margin-bottom: 0;
    color: #333;
  }
  
  h2 {
    font-size: 34px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }
  .img-circular {
    border-radius: 20%;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
