<h1 class="signin">Sign in</h1>

<form (ngSubmit)="login()" #loginForm="ngForm" class="cal1 col-md-3">
  <label for="username" class="form-label">Username</label>
  <input
    type="username"
    class="form-control"
    name="username"
    placeholder="Type your username"
    id="username"
    [(ngModel)]="username"
    required
  />

  <label for="password" class="form-label">Password</label>
  <input
    type="password"
    class="form-control"
    name="password"
    placeholder="Type your Password"
    id="password"
    [(ngModel)]="password"
    required
  />
  <button type="submit" [disabled]="!loginForm.form.valid"  class="btn btn-outline-dark btn11 btn-lg">
    Sign in!
  </button>
</form>



<!-- <div class=" but1">
    <button type="button" class="btn btn-outline-dark btn-lg">Sign up here!</button>
    <p>Join us now and unlock endless possibilities! Sign up in just a few clicks,<br>
       create your unique profile, and dive into a world of exciting opportunities. <br>
       Start your journey today!</p>
  </div>  -->
