<app-header></app-header>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-4">
      <div class="grid text-center">
        <h1 class="fw-light title">Nuestros Productos</h1>
        <p class="lead text-body-secondary">
          Aquí se pueden visualizar todos los productos que tenemos para mostrar
          en nuestra web
        </p>
        <p>Puedes ver nuestras categorías aquí</p>
      </div>
      <div>
        <div class="btn-group me-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-warning btn-lg">
            Categoria 1
          </button>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-warning btn-lg">
            Categoria 2
          </button>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-warning btn-lg">
            Categoria 3
          </button>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-warning btn-lg">
            Categoria 4
          </button>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- imagenes promocionales -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="assets/imagenes/publicidad_1.jpeg"
              alt="Producto"
              height="225"
              width="100%"
            />
            <div class="card-body">
              <button type="button align-items-center" class="btn btn-warning">
                Ver Más
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="assets/imagenes/publicidad_2.jpeg"
              alt="Producto"
              height="225"
              width="100%"
            />
            <div class="card-body">
              <button type="button align-items-center" class="btn btn-warning">
                Ver Más
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="album bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <!-- productos para visualizar -->

        <!-- producto 1 -->
        <div *ngFor="let product of productInfo; let i = index" class="col">
          <div class="card shadow-sm">
            <img
              [src]= "imagesFront[i].image"
              alt="Producto"
              height="380"
              width="100%"
            />
            <div class="card-body">
              <h5 class="card-text">{{product.name}} | {{product.color}}</h5>
              <div  class="d-flex justify-content-center align-items-center">
                <!-- Botón del modal -->
                <button
                  type="button"
                  class="btn btn-info"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="'#' + product._id"
                >
                  More info about the Product
                </button>

                <!-- Modal -->
                <div
                  class="modal fade"
                  [id]="product._id"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  [attr.aria-labelledby]="product._id"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div  class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" [attr.id]="product._id">
                          {{product.name}} | {{product.color}}
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div>
                          <img
                            [src]= "imagesBack[i].image"
                            alt="Producto"
                            height="520px"
                            width="100%"
                          />
                        </div>
                        <div  class="modal-header ">
                          <p >
                            Descripction: {{product.description}}
                          </p>
                          <p>
                            Size: {{product.size}}
                          </p>
                          <p>
                            Price: ${{product.price}}
                          </p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cerrar
                        </button>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-primary">
                          Ver Otros Productos
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
