
<!-- Header -->

<main>

<section class="py-5 text-center container">
    <div class="row py-lg-4">
        <div class="grid text-center">
            <h1 class="fw-light">Nuestros Productos</h1>
            <p class="lead text-body-secondary">Aquí se pueden visualizar todos los productos que tenemos para mostrar en nuestra web</p>
            <p>Puedes ver nuestras categorías aquí</p>
        </div>
        <div>
            <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-warning btn-lg">Categoria 1</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-warning btn-lg">Categoria 2</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-warning btn-lg">Categoria 3</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-warning btn-lg">Categoria 4</button>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- imagenes promocionales -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
            <div class="col">
                <div class="card shadow-sm">
                <img src="assets/imagenes/publicidad_1.jpeg" alt="Producto" height="225" width="100%">
                    <div class="card-body">
                        <button type="button align-items-center" class="btn btn-warning">Ver Más</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                <img src="assets/imagenes/publicidad_2.jpeg" alt="Producto" height="225" width="100%">
                    <div class="card-body">
                        <button type="button align-items-center" class="btn btn-warning">Ver Más</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


<div class="album bg-body-tertiary">
    <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <!-- productos para visualizar -->

        <!-- producto 1 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_1_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa crop-top manga larga - color Salmón</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa crop-top manga larga</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_1_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en lino suave con tiras para amarrar en la cintura, ideal para climas cálidos, color Salmón.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
        <!-- producto 2 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_2_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa crop-top manga corta - color Blanco</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa crop-top manga corta</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_2_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa crop-top hecha en algodón con mangas en encajes, ideal para climas cálidos, color Blanco.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 3 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_3_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa crop-top manga larga - color Celeste</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa crop-top manga larga</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_3_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en algodón con tiras para amarrar en la cintura, ideal para climas cálidos, color Celeste.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 4 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_4_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa crop-top tipo strapless - color Blanco</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa crop-top tipo strapless</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_4_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en algodón tipo strapless para amarrar en la espalda, ideal para climas cálidos, color Blanco.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 5 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_5_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa crop-top manga sisa - color Negro</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa crop-top manga sisa</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_5_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en algodón con espalda abierta, ideal para climas cálidos, color Negro.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 6 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_6_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa crop-top manga sisa - color Verde Militar</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa crop-top manga sisa</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_6_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en algodón con tiras para amarrar en la nuca, ideal para climas cálidos, color Verde Militar.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 7 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_7_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa crop-top de tiras - color Verde Brillante</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa crop-top de tiras</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_7_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en poliester y algodón con tiras para amarrar en la cintura, ideal para climas cálidos, color Verde Brillante.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 8 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_8_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa crop-top con tiras - color Amarillo</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa crop-top con tiras</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_8_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en lino suave con tiras en los hombros, ideal para climas cálidos, color Amarillo.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 9 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_9_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa a la cintura manga corta - color Verde</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa a la cintura manga corta</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_9_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en lino suave de marnga corta, ideal para climas cálidos ya que tiene estilo de encaje grueso, color Verde.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 10 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_10_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa a la cintura manga corta - color Blanco</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa a la cintura manga corta</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_10_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en algodón suave de marnga corta, ideal para climas cálidos ya que tiene estilo fresco, color Blanco.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 11 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_11_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa a la cintura manga corta - color Beige</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa a la cintura manga corta</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_11_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en algodón suave de marnga corta, ideal para climas cálidos ya que tiene estilo fresco, color Beige.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 12 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_12_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Blusa a la cintura manga corta - color Verde</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Blusa a la cintura manga corta</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_12_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Blusa hecha en algodón de marnga corta, ideal para climas cálidos ya que tiene estilo fresco, color Verde.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 13 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_13_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Hoodie - color Gris</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Hoodie - color Gris Estampado 0307</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_13_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Este Hoodie es hecho en algodón, cuenta con capota y tiene estampado en la espalda, color Gris.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 14 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_14_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Hoodie - color Rosa</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Hoodie - color Rosa Estampado 1270</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_14_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Este Hoodie es hecho en algodón, cuenta con capota y tiene estampado en la espalda y los antebrazos, color Rosa.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 15 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_15_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Hoodie - color Verde</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Hoodie - color Verde Estampado 0705</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_15_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Este Hoodie es hecho en algodón, cuenta con capota y tiene estampado en la espalda, color Verde.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- producto 16 -->
        <div class="col">
            <div class="card shadow-sm">
            <img src="assets/imagenes/producto_16_F.jpeg" alt="Producto" height="380" width="100%">
            <div class="card-body">
                <p class="card-text">Hoodie - color Negro</p>
                <div class="d-flex justify-content-between align-items-center">
                                        
                    <!-- Botón del modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver más detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Hoodie - color Gris Estampado 1108</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <img src="assets/imagenes/producto_16_E.jpeg" alt="Producto" height="520" width="100%">
                                    </div>
                                    <div class="modal-header">
                                        <p>Este Hoodie es hecho en algodón, cuenta con capota y tiene estampado en la espalda y los antebrazos color Negro.</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Ver Otros Productos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        

    </div>
    </div>
</div>

    <br>
    <br>
    <br>
    <br>

</main>

<!-- Footer -->
