<app-header></app-header>
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../assets/2shei.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
         
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/1sheeij.webp" class="d-block w-30" alt="1sheeij">
        <div class="carousel-caption d-none d-md-block">
      
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/shein4.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="d-grid gap-2">
    <button class="btn  btn-customize" type="button">About us</button>
    
  </div>

  <div class="card1 mb-3">


    <div class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item" controls>
        <source src="../../../assets/Diseño sin título.mp4" type="video/mp4">

      </video>
    </div>
    
    
    <div class="card-body">
      <h5 class="card-title1 card-title">Beauté féminine</h5>
      <h6>Welcome to our online Store!</h6>
        <p class="card-text">
        where global fashion meets your wardrobe! We take pride in being your ultimate destination for stylish tops sourced from various countries around the world.

        At our store, we believe that fashion has no boundaries, and that's why we meticulously curate a diverse collection of tops from different corners of the globe. Our team of fashion enthusiasts and trendsetters scours the international fashion scene, handpicking the most unique and fashionable tops to bring them directly to you.</p>
      
    </div>
  </div>

  <button type="button" class="boton1 btn btn-outline-dark btn-lg">Tops</button>
  <button type="button" class="boton1 btn btn-outline-dark btn-lg">Jackets</button>
  <button type="button" class="boton1 btn btn-outline-dark btn-lg">Sweaters</button>
  <button type="button" class="boton1 btn btn-outline-dark btn-lg">Hoddies</button>

  <div class="d-grid gap-2">
    <button class="btn  buttom2 btn-customize" type="button">On sale!</button>
    
  </div>


  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/card2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brooklyn hoddie</h5>
          <p class="card-text">Introducing the Brooklyn Hoodie, the epitome of urban style and comfort. Crafted with meticulous attention to detail, this hoodie embodies the spirit of the vibrant Brooklyn borough.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">$18.00</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/card3.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Motomami Jacket</h5>
          <p class="card-text">The Motomami Jacket is more than just a fashion piece; it's an embodiment of empowerment and self-expression. Its versatile design allows you to effortlessly transition from day to night, whether you're attending a casual outing or a rock concert.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">$40.50</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/card4.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ovesize T-shirt</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">$25.10</small>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <app-footer></app-footer>
 
