@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik+Mono+One&display=swap');
.title {
    text-align: center;
    margin: 2% 0 3% 0 ;
    font-family: 'Rubik Mono One', sans-serif;
    color: #90827a;
}
.btn-customize{
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 100px;
    background-color:#e8d1c6cc;
    font-size: larger;
    
}

.btn-customize:hover{
    background-color:#E0E0E0;
    color: black;

}

.video {
    display: flex;
    justify-content: center;
    margin-top: 2.5%
}

.video iframe {

    width: 700px;
    height: 400px;
    
}

.card-title1{

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style:initial;
    font-size:x-large;
    margin-bottom: 30px;
    margin-top: 2%;

}

.card-body h6 {
    text-align: center;
    font-size: 1.1rem;
}

.card-text{
    margin: auto;
    margin-top: 2%;
    width: 90%;

}
.embed-responsive-item{
    width: 700px;
    margin-left: 55px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.botones {
    margin-top: 2.5%;
    display: flex;
}

.boton1{
    margin: auto;
    width: 150px;
    
}
.buttom2:hover{
    background-color: red;
    color: white;
}

.col{

    margin-top: 80px;
    margin-left: 20px;
    width: 400px;
    margin-bottom: 70px;
}

.card-title{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card-footer{
    font-weight: 800;
}

.card-footer:hover{
    background-color:#e8d1c6cc;
    
}

img {
    margin:auto;
}

.productos {
    display: flex;
    justify-content: space-evenly;
}

