<div class="banner">

    <div class="navbar">
        <img src="../../../assets/Beige_Neutral_Minimalist_A_Initials_Letter_Name_Logo__1_-removebg-preview.png" class="logo" alt="Bootstrap">
        <ul>
            <li>
                <a (click)="directHome()" > Home </a>
            </li>
            <li>
                <a (click)="directProducts()" > Products </a>
            </li>
            <li>
                <a (click)="directAbout()" > About us</a>
            </li>
            <li>
                <a (click)="directContact()" > Contact us </a>
            </li>
        </ul>
    </div>

    <div class="content">
        <h1>Welcome to Beaute Boutique</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque praesentium eveniet repudiandae amet necessitatibus! Odio in, beatae tenetur magnam aliquam totam aut, voluptatum animi architecto earum modi eaque. Nisi, sed.</p>
        <div>
            <a routerLink="login"><span></span>Sign in</a> 
            <a class="nav-link" routerLink="create"><span></span>Sign up</a> 
        </div>
    </div>


</div>



